body {
  background-color: white; }

.bodyBox {
  width: 78%;
  margin: 0 auto; }

.bottom1 .bottom11 {
  width: 100%; }
  .bottom1 .bottom11 img {
    width: 100%; }
.bottom1 .bottom12 ul {
  width: 100%; }
  .bottom1 .bottom12 ul li {
    width: 100%; }
    .bottom1 .bottom12 ul li .inputBox {
      width: 100%;
      height: 0.96rem;
      margin-bottom: 0.2rem;
      background-color: #dfdfdf; }
      .bottom1 .bottom12 ul li .inputBox input {
        display: block;
        width: 94%;
        margin: 0 auto;
        font-size: 0.3rem;
        line-height: 0.36rem;
        padding: 0.3rem 0;
        background-color: transparent;
        border: 0;
        color: #333333;
        text-align: center; }
      .bottom1 .bottom12 ul li .inputBox input::-moz-placeholder {
        color: #b6b5b5; }
      .bottom1 .bottom12 ul li .inputBox input::-ms-input-placeholder {
        color: #b6b5b5; }
      .bottom1 .bottom12 ul li .inputBox input::-webkit-input-placeholder {
        color: #b6b5b5; }
    .bottom1 .bottom12 ul li .submit {
      width: 100%;
      height: 0.96rem; }
      .bottom1 .bottom12 ul li .submit button {
        width: 100%;
        height: 100%;
        background: url(../img/bottom2.png) no-repeat left top;
        background-size: 100% 100%;
        font-size: 0.3rem;
        color: white;
        display: block; }
    .bottom1 .bottom12 ul li .message {
      font-size: 0.24rem;
      line-height: 0.4rem;
      text-align: center;
      color: #666666;
      padding-top: 0.15rem; }
      .bottom1 .bottom12 ul li .message .msgTitle {
        font-weight: bold; }

.bigTitle {
  text-align: center;
  padding: 0.5rem 0 0; }
  .bigTitle span {
    font-size: 0.44rem;
    color: #171717;
    position: relative;
    line-height: 0.6rem; }
  .bigTitle span::before, .bigTitle span::after {
    content: "";
    background: no-repeat left center;
    background-size: 100%;
    position: absolute;
    top: 0%;
    width: 1.0rem;
    height: 100%; }
  .bigTitle span::before {
    left: -1.2rem;
    background-image: url(../img/bottom4.png); }
  .bigTitle span::after {
    right: -1.2rem;
    background-image: url(../img/bottom3.png); }
  .bigTitle .btBottom {
    font-size: 0.16rem;
    text-align: center; }
  .bigTitle .greenTitle {
    font-size: 0.3rem;
    color: #82d58e;
    text-align: center;
    margin: 0.3rem 0; }

.bottom21 .bottom211 {
  padding-bottom: 0.45rem; }
  .bottom21 .bottom211 .bottom21Title {
    font-size: 0.3rem;
    color: #666666;
    line-height: 0.3rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 0.15rem; }
  .bottom21 .bottom211 .bottom21Title::before {
    content: "";
    position: absolute;
    left: -0.45rem;
    bottom: 0px;
    width: 0.3rem;
    border: 1px solid #bfbfbf; }
  .bottom21 .bottom211 .bottom21Content {
    color: #807f7f;
    line-height: 0.4rem;
    font-size: 0.24rem;
    text-align: justify; }
  .bottom21 .bottom211 .bottom21Img {
    margin-top: 0.2rem;
    display: flex;
    display: -webkit-flex; }
    .bottom21 .bottom211 .bottom21Img > div {
      width: 32.8%;
      margin-right: 0.8%; }
      .bottom21 .bottom211 .bottom21Img > div img {
        width: 100%; }
    .bottom21 .bottom211 .bottom21Img > div:nth-last-child(1) {
      margin-right: 0; }

.bottom31 {
  width: 100%; }
  .bottom31 img {
    width: 100%; }

.superText {
  font-size: 0.24rem;
  color: #666666;
  line-height: 0.4rem;
  text-indent: 0.48rem;
  width: 84%;
  margin-bottom: 0.1rem; }

.bottom4 .bottom41 {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }
  .bottom4 .bottom41 .bottom422 {
    width: 50%;
    padding: 0.05rem 0;
    position: relative; }
    .bottom4 .bottom41 .bottom422 .bottom2Left {
      width: 0.76rem;
      height: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column;
      margin-left: 0.44rem; }
      .bottom4 .bottom41 .bottom422 .bottom2Left img {
        width: 100%; }
    .bottom4 .bottom41 .bottom422 .bottom2Right {
      position: absolute;
      left: 0;
      padding-left: 1.52rem;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box; }
      .bottom4 .bottom41 .bottom422 .bottom2Right .bottom4Title {
        font-size: 0.26rem;
        color: #454444;
        font-weight: bold;
        line-height: 0.26rem;
        margin-bottom: 0.15rem; }
      .bottom4 .bottom41 .bottom422 .bottom2Right p {
        width: 100%;
        font-size: 0.2rem;
        line-height: 0.2rem;
        color: #777777; }
  .bottom4 .bottom41 .bottom422:nth-child(2n) .bottom2Left {
    margin-left: 0.08rem; }
  .bottom4 .bottom41 .bottom422:nth-child(2n) .bottom2Right {
    padding-left: 1.16rem; }

.bottom51Box {
  padding: 0.2rem  0 0.4rem; }

.bottom5 .bottom51 {
  position: relative;
  width: 93.2%;
  margin: 0 auto 0.06rem; }
  .bottom5 .bottom51 .bottom511 {
    width: 56.4%; }
    .bottom5 .bottom51 .bottom511 img {
      width: 100%; }
  .bottom5 .bottom51 .bottom512 {
    width: 43.6%;
    position: absolute;
    left: 56.4%;
    top: 0;
    height: 100%;
    padding-right: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #777777;
    line-height: 0.4rem;
    min-height: 0.4rem;
    font-size: 0.24rem; }
    .bottom5 .bottom51 .bottom512 p {
      width: 100%;
      text-align: right; }
    .bottom5 .bottom51 .bottom512 p:nth-child(2) {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 98%;
      margin-right: 2%;
      background: url(../img/bottom19.png) no-repeat right center;
      background-size: 0.21rem auto; }
    .bottom5 .bottom51 .bottom512 p:nth-child(1) {
      font-size: 0.3rem;
      color: #666666; }
.bottom5 .bottom51:nth-child(2n) .bottom511 {
  margin-left: 43.6%; }
.bottom5 .bottom51:nth-child(2n) .bottom512 {
  left: 0%;
  padding-left: 0.2rem;
  padding-right: 0; }
  .bottom5 .bottom51:nth-child(2n) .bottom512 p {
    text-align: left; }
  .bottom5 .bottom51:nth-child(2n) .bottom512 p:nth-child(2) {
    margin-right: 0%;
    margin-left: 2%;
    background-position-x: left; }

.bottom6 .bottom61 {
  margin: 0.1rem 0;
  width: 100%; }
  .bottom6 .bottom61 img {
    width: 100%; }

.btnBox {
  width: 3.28rem;
  height: 0.89rem;
  margin: 0.65rem auto; }
  .btnBox > div {
    width: 100%;
    height: 100%; }
  .btnBox button {
    width: 100%;
    height: 100%;
    background: url(../img/bottom21.png) no-repeat left top;
    background-size: 100% 100%;
    color: white; }

.knowMore .btnBox {
  margin: 1.2rem auto 0.4rem; }
.knowMore .btnBox1 {
  margin: 2rem auto 0.8rem; }
.knowMore .knTop {
  width: 100%;
  position: relative; }
  .knowMore .knTop img {
    width: 100%; }
  .knowMore .knTop .knTopBox {
    position: absolute;
    top: 13.25%;
    left: 7.47%;
    width: 100%;
    height: 100%; }
    .knowMore .knTop .knTopBox > div ul li:nth-child(1) {
      font-size: 0.48rem;
      line-height: 0.68rem;
      color: #77b0d3; }
    .knowMore .knTop .knTopBox > div ul li:nth-child(2) {
      font-size: 0.18rem;
      line-height: 0.38rem;
      color: #666666; }
    .knowMore .knTop .knTopBox > div ul li:nth-child(3) {
      width: 0.4rem;
      margin: 0.25rem 0;
      border-bottom: 0.05rem solid #abd8f4; }
    .knowMore .knTop .knTopBox > div ul li:nth-child(4) {
      color: #666666;
      font-size: 0.3rem;
      line-height: 0.5rem; }
.knowMore .knTop .knTopBox1 > div ul li:nth-child(1) {
  color: #5cbec6; }
.knowMore .knTop .knTopBox1 > div ul li:nth-child(3) {
  border-color: #5cbec6; }
.knowMore .knBottom {
  width: 92.4%;
  margin-left: 5.07%;
  position: relative;
  margin-top: 0.05rem; }
  .knowMore .knBottom > img {
    width: 100%; }
.knowMore .knBottom1 {
  margin-top: 0.3rem; }
.knowMore .knbBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .knowMore .knbBox .knbTitle {
    margin-top: 11%;
    margin-left: 2.88%; }
    .knowMore .knbBox .knbTitle p {
      line-height: 0.48rem;
      font-size: 0.36rem;
      color: #85bcde; }
    .knowMore .knbBox .knbTitle ul li:nth-child(2) {
      padding-left: 0.42rem;
      background: url(../img/bottom28.png) no-repeat left center;
      background-size: auto 0.27rem; }
      .knowMore .knbBox .knbTitle ul li:nth-child(2) p {
        color: #666666;
        position: relative; }
        .knowMore .knbBox .knbTitle ul li:nth-child(2) p span {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10; }
      .knowMore .knbBox .knbTitle ul li:nth-child(2) p::after {
        position: absolute;
        left: 0.07rem;
        top: 0.2rem;
        content: "";
        width: 3.36rem;
        height: 0.32rem;
        background-color: rgba(145, 204, 241, 0.42); }
  .knowMore .knbBox .knbTitle1 {
    margin-top: 8.5%; }
    .knowMore .knbBox .knbTitle1 p {
      color: #5dbec6; }
    .knowMore .knbBox .knbTitle1 ul li:nth-child(2) p::after {
      background-color: rgba(194, 239, 240, 0.45); }
  .knowMore .knbBox .knbContent {
    margin-top: 4%;
    margin-left: 6%;
    width: 77%;
    text-align: justify;
    color: #464749;
    font-size: 0.22rem;
    line-height: 0.36rem;
    text-indent: 0.44rem; }
    .knowMore .knbBox .knbContent .noIndent {
      text-indent: 0; }
  .knowMore .knbBox .knbContent1 {
    margin-top: 4%;
    margin-left: 6%;
    width: 74%; }
  .knowMore .knbBox .knbImgBox {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-top: 8%; }
    .knowMore .knbBox .knbImgBox > div {
      width: 23.23%;
      margin-right: 2.36%; }
      .knowMore .knbBox .knbImgBox > div img {
        width: 100%; }
    .knowMore .knbBox .knbImgBox > div:nth-child(2n+1) {
      margin-top: 3.5%; }
    .knowMore .knbBox .knbImgBox > div:nth-last-child(1) {
      margin-right: 0%; }
  .knowMore .knbBox .knbImgBox1 {
    margin-top: 5%; }
  .knowMore .knbBox .knbImgBox2 {
    margin-top: 4%; }

.series {
  margin-bottom: 0.6rem; }
  .series .proImg {
    width: 100%; }
    .series .proImg img {
      width: 100%; }
  .series .swiper-button-next, .series .swiper-button-prev {
    width: 0.86rem;
    height: 1.0rem;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("../img/left.png");
    background-size: 0.28rem 0.49rem;
    -webkit-background-size: 0.28rem 0.49rem;
    margin-top: 0;
    top: 3.75rem;
    left: 0; }
  .series .swiper-button-next {
    background-image: url("../img/right.png");
    left: auto;
    right: 0; }
  .series .proBottom {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 0.3rem 0; }
    .series .proBottom > div {
      width: 50%; }
    .series .proBottom .pbLeft .pblImg {
      width: 2.25rem;
      margin-left: 0.8rem; }
      .series .proBottom .pbLeft .pblImg img {
        width: 100%; }
    .series .proBottom .pbRight .pblContent {
      padding-left: 0.5rem;
      padding-top: 0.1rem; }
      .series .proBottom .pbRight .pblContent .pblTitle {
        font-size: 0.36rem;
        color: #3d3c3c;
        font-weight: bold;
        line-height: 0.7rem;
        position: relative; }
        .series .proBottom .pbRight .pblContent .pblTitle span {
          font-size: 0.18rem;
          display: inline-block;
          margin-left: 0.15rem; }
      .series .proBottom .pbRight .pblContent .pblTitle::after {
        position: absolute;
        content: "";
        left: -0.5rem;
        top: 0rem;
        width: 0.3rem;
        border-bottom: 1px solid #9dd7a5; }
      .series .proBottom .pbRight .pblContent ul li p {
        font-size: 0.2rem;
        line-height: 0.36rem; }

.produceJudge {
  width: 3.44rem;
  margin: 0.2rem auto;
  font-size: 0.3rem;
  color: #666666;
  line-height: 0.6rem;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s; }
  .produceJudge span:nth-child(1) {
    color: #82d58e; }

.pjhas span:nth-child(1) {
  color: #666666; }
.pjhas span:nth-child(2) {
  color: #82d58e; }

.produceJudge::after {
  position: absolute;
  left: 0;
  bottom: -0.02rem;
  border-bottom: 0.06rem solid #82d58e;
  content: "";
  width: 0.9rem; }

.pjhas::after {
  left: 2.4rem; }

#app {
  overflow-x: hidden; }

.people .bottom51 .bottom512 {
  padding-left: 0.3rem;
  padding-right: 0; }

.people .bottom51 .bottom512 p {
  text-align: left; }

.people .bottom51 .bottom512 p:nth-child(2) {
  display: none; }

.people .bottom51 .bottom512 p:nth-child(1) {
  font-weight: bold;
  line-height: 0.6rem; }

.people .bottom51:nth-child(2n) .bottom512 {
  padding-right: 0.3rem;
  padding-left: 0; }

.people .bottom51:nth-child(2n) .bottom512 p {
  text-align: right; }

.people .bottom511 {
  position: relative; }

.people .bottom511::after {
  content: "";
  position: absolute;
  top: 0.3rem;
  right: -0.45rem;
  width: 0.9rem;
  border-bottom: 0.06rem solid rgba(130, 213, 142, 0.5); }

.people .bottom51:nth-child(2n) .bottom511::after {
  left: -0.45rem;
  right: auto; }

.index {
  width: 100%;
  height: 100%; }
  .index .swiper-container {
    width: 100%;
    height: 100%; }
  .index img {
    width: 100%;
    height: 100%; }
  .index .swiper-button-next, .index .swiper-button-prev {
    width: 0.86rem;
    height: 1.0rem;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("../img/left.png");
    background-size: 0.28rem 0.49rem;
    -webkit-background-size: 0.28rem 0.49rem;
    margin-top: -0.5rem;
    top: 50%;
    left: 0; }
  .index .swiper-button-next {
    background-image: url("../img/right.png");
    left: auto;
    right: 0; }
  .index .swiper-pagination-bullet {
    background-color: #d2d2d2;
    opacity: 1; }
  .index .swiper-pagination-bullet-active {
    background-color: #7d7d7d;
    opacity: 1; }
  .index .swiper-container-horizontal > .swiper-pagination-bullets, .index .swiper-pagination-custom, .index .swiper-pagination-fraction {
    bottom: 0.7rem;
    left: 0;
    width: 100%; }

.playVideo .btnBox {
  margin-bottom: 0.25rem; }
  .playVideo .btnBox button {
    background-image: url("../img/play.png");
    text-indent: 0.4rem; }

.popWin {
  position: fixed;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: transform 0.2s linear;
  -webkit-transition: transform 0.2s linear;
  -moz--webkit-transition: transform 0.2s linear; }
  .popWin .swiper-container {
    width: 100%;
    height: 100%; }
    .popWin .swiper-container .swiper-slide {
      width: 100%;
      height: 100%;
      background: url("../img/neiBack1.png") no-repeat left top;
      background-size: 100% 100%;
      -webkit-background-size: 100% 100%; }
      .popWin .swiper-container .swiper-slide .produceImg {
        width: 100%; }
        .popWin .swiper-container .swiper-slide .produceImg img {
          width: 100%; }
      .popWin .swiper-container .swiper-slide .produceTitle p {
        font-size: 0.4rem;
        margin-top: -0.3rem;
        text-align: center;
        background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#221714), color-stop(0.45, #969696), color-stop(0.46, #221714), to(#636363));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .popWin .swiper-container .swiper-slide .propBox {
        margin: 0.4rem 0 0.4rem; }
        .popWin .swiper-container .swiper-slide .propBox p {
          font-size: 0.2rem;
          line-height: 0.36rem;
          color: #3f3f3f;
          text-align: center; }
      .popWin .swiper-container .swiper-slide .proBar {
        width: 1.16rem;
        margin: 0 auto; }
        .popWin .swiper-container .swiper-slide .proBar img {
          width: 100%; }
      .popWin .swiper-container .swiper-slide .logo {
        width: 2.0rem;
        margin: 0.4rem auto; }
        .popWin .swiper-container .swiper-slide .logo img {
          width: 100%; }
    .popWin .swiper-container .swiper-slide:nth-child(2n) {
      background-image: url("../img/neiBack2.png"); }
  .popWin .closeBtn {
    position: absolute;
    width: 0.64rem;
    height: 0.64rem;
    left: 50%;
    margin-left: -0.32rem;
    bottom: 0.4rem;
    background: url("../img/close.png") no-repeat left top;
    background-size: 100% 100%;
    z-index: 999; }
  .popWin .swiper-pagination-bullet-active {
    opacity: 1;
    background: #3f3f3f; }

/*# sourceMappingURL=index.css.map */
