<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>巴迪师专题</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable"/>
		<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
		<meta content="telephone=no" name="format-detection"/>
		<link rel="stylesheet" href="css/swiper-3.4.2.min.css" />
		<link rel="stylesheet" href="css/animate.min.css" />
		<link rel="stylesheet" href="css/demo.css" />
		<link rel="stylesheet" href="css/ydui.css" />
		<link rel="stylesheet" href="css/reset.min.css" />
		<link rel="stylesheet" href="css/popWindow.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/popWin.js" ></script>
		<script type="text/javascript" src="js/swiper-3.4.2.min.js" ></script>
		<script type="text/javascript" src="js/swiper.animate1.0.3.min.js" ></script>
		<script>
		        (function(doc, win) {
		            var docEl = doc.documentElement,
		                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
		                recalc = function() {
		                    var clientWidth = docEl.clientWidth;
		                    if(!clientWidth) return;
		                    if(clientWidth >= 750) {
		                        docEl.style.fontSize = '100px';
		                    } else {
		                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
		                    }
		                };
		
		            if(!doc.addEventListener) return;
		            win.addEventListener(resizeEvt, recalc, false);
		            doc.addEventListener('DOMContentLoaded', recalc, false);
		        })(document, window);

		    </script>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js" ></script>
		<script type="text/javascript" src="js/scrollReveal.js" ></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script>
			// 分享标题
			window.shareTit = '巴迪斯专题';
			window.url = window.location.href;
			$(document).ready(function(){
				$.post('http://bardiss.hengdikeji.com/index.php/special/index/share', {token: 'hello', urls: window.url}, function(data) {
					wx.config({
				        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				        appId: data.appId, // 必填，公众号的唯一标识
				        timestamp: data.timestamp, // 必填，生成签名的时间戳
				        nonceStr: data.nonceStr, // 必填，生成签名的随机串
				        signature: data.signature,// 必填，签名，见附录1
				        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
				    });
				    wx.ready(function () {
				        share();
				    })
				}, 'json');
			});

		    function share(){
		        wx.onMenuShareTimeline({
		            title: window.shareTit,
		            // 分享语
		            desc: '巴迪斯专题',
		            link: window.url,
		            imgUrl: "http://bardiss.hengdikeji.com/badisi/img/share.jpg",
		            trigger: function (res) {
		            },
		            success: function (res) {
		            },
		            cancel: function (res) {
		            },
		            fail: function (res) {
		            }
		        });
		        wx.onMenuShareAppMessage({
		            title: window.shareTit,
		            // 分享语
		            desc: '巴迪斯专题',
		            link: window.url,
		            imgUrl: "http://bardiss.hengdikeji.com/badisi/img/share.jpg",
		            trigger: function (res) {
		            },
		            success: function (res) {
		            },
		            cancel: function (res) {
		            },
		            fail: function (res) {
		            }
		        });
		    }
		</script>
	</head>
	<body>
		<div class="delete1" hidden="hidden"></div>
		<div style="display:none"><script src="https://s19.cnzz.com/z_stat.php?id=1273979552&web_id=1273979552" language="JavaScript"></script></div>
		<div id="app">
			<div class="index">
				<div class="swiper-container swiper-container-index">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="(item,index) in banners">
							<img :src="item" />
						</div>
					</div>
					<div class="swiper-button-prev swiper-button-prev3"></div>
					<div class="swiper-button-next swiper-button-next3"></div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div class="playVideo" data-scroll-reveal="enter top and move 50px over 1.0s" style="display: none">
				<div class="btnBox">
					<div>
						<button>播放视频</button>
					</div>
				</div>
			</div>
			<!--适用人群-->
			<div class="people bottom5">
				<div class="bigTitle">
					<div class="btTop"  data-scroll-reveal="enter top and move 50px over 1.0s">
						<span>推荐适用人群</span>
					</div>
					<div class="btBottom" data-scroll-reveal="enter top and move 50px over 1.0s">
						<p>RECOMMENDED FOR PEOPLE</p>
					</div>
					<div class="greenTitle" data-scroll-reveal="enter bottom and move 50px over 1.0s">
						<p>空气净化专家，健康家庭的小卫士</p>
					</div>
				</div>
				<div class="bottom51Box">
					<div class="bottom51" v-for="(item,index) in enjoyPeople">
						<div class="bottom511" :data-scroll-reveal="item.move">
							<img :src="item.src" />
						</div>
						<div class="bottom512" :data-scroll-reveal="item.move1">
							<p>{{item.title}}</p>
							<p>&nbsp;</p>
							<p>{{item.p1}}</p>
							<p>{{item.p2}}</p>
							<p>{{item.p3}}</p>
						</div>
					</div>
				</div>
			</div>
			<!--系列产品-->
			<div class="series">
				<div class="bigTitle" data-scroll-reveal="enter top and move 50px over 1.0s">
					<div class="btTop">
						<span>板材解读</span>
					</div>
					<div class="btBottom" >
						<p>PLATE INTERPRETATION</p>
					</div>
				</div>
				<div class="produceJudge" :class="{'pjhas':mpStatus}" data-scroll-reveal="enter bottom and move 50px over 1.0s">
					<span class="floatl" @click="pjOne">铝基材</span>
					<span class="floatr" @click="pjTwo">铝蜂窝板</span>
					<div class="clearBoth"></div>
				</div>
				<div class="swiper-container swiper-container-produce1" v-show="!mpIndex">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="(item,index) in MoreProduce[0]">
							<div class="proImg">
								<img :src="item.banner" />
							</div>
							<div class="proBottom">
								<div class="pbLeft">
									<div class="pblImg">
										<img :src="item.img"/>
									</div>
								</div>
								<div class="pbRight">
									<div class="pblContent">
										<div>
											<span class="pblTitle">{{item.title}}<span>{{item.enTitle}}</span></span>
										</div>
										<ul>
											<li v-for="(its,i) in item.text">
												<p>{{its}}</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-button-prev swiper-button-prev1"></div>
					<div class="swiper-button-next swiper-button-next1"></div>
				</div>
				<div class="swiper-container swiper-container-produce2" v-show="mpIndex">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="(item,index) in MoreProduce[1]">
							<div class="proImg">
								<img :src="item.banner" />
							</div>
							<div class="proBottom">
								<div class="pbLeft">
									<div class="pblImg">
										<img :src="item.img"/>
									</div>
								</div>
								<div class="pbRight">
									<div class="pblContent">
										<div>
											<span class="pblTitle">{{item.title}}<span>{{item.enTitle}}</span></span>
										</div>
										<ul>
											<li v-for="(its,i) in item.text">
												<p>{{its}}</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="swiper-button-prev swiper-button-prev2"></div>
					<div class="swiper-button-next swiper-button-next2"></div>
				</div>
			</div>
			<!--产品1-->
			<div class="knowMore">
				<div class="knTop">
					<img :src="produce1.src" data-scroll-reveal="enter top and move 50px over 1.0s"/>
					<div class="knTopBox knTopBox1" data-scroll-reveal="enter right and move 50px over 1.0s">
						<div>
							<ul>
								<li>{{produce1.zhTitle}}</li>
								<li>{{produce1.enTitle}}</li>
								<li></li>
								<li>{{produce1.chTitle}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="knBottom knBottom1">
					<img src="img/bottom33.png" data-scroll-reveal="enter bottom and move 50px over 1.0s" />
					<div class="knbBox">
						<div class="knbTitle knbTitle1">
							<ul>
								<li>
									<p data-scroll-reveal="enter left and move 50px over 1.0s">{{produce1.smallTitle}}</p>
								</li>
								<li>
									<p data-scroll-reveal="enter right and move 50px over 1.0s">&nbsp;<span>{{produce1.smallText}}</span></p>
								</li>
							</ul>
						</div>
						<div class="knbContent knbContent1" data-scroll-reveal="enter bottom and move 50px over 1.0s" >
							<p v-for="(item,index) in produce1.p" >{{item}}</p>
						</div>
						<div class="knbImgBox knbImgBox2">
							<div v-for="(item,index) in produce1.imgList">
								<img :src="item.img" :data-scroll-reveal="item.move"  />
							</div>
						</div>
					</div>
					<div class="btnBox btnBox1" data-scroll-reveal="enter bottom and move 50px over 1.0s" >
						<div>
							<button @click="knowMore(1)">了解更多</button>
						</div>
					</div>
				</div>
			</div>
			<!--产品2-->
			<div class="knowMore">
				<div class="knTop">
					<img :src="produce2.src" data-scroll-reveal="enter top and move 50px over 1.0s"/>
					<div class="knTopBox" data-scroll-reveal="enter right and move 50px over 1.0s">
						<div>
							<ul>
								<li>{{produce2.zhTitle}}</li>
								<li>{{produce2.enTitle}}</li>
								<li></li>
								<li>{{produce2.chTitle}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="knBottom">
					<img src="img/bottom27.png" data-scroll-reveal="enter bottom and move 50px over 1.0s"/>
					<div class="knbBox">
						<div class="knbTitle">
							<ul>
								<li>
									<p data-scroll-reveal="enter left and move 50px over 1.0s">{{produce2.smallTitle}}</p>
								</li>
								<li>
									<p data-scroll-reveal="enter right and move 50px over 1.0s">&nbsp;<span>{{produce2.smallText}}</span></p>
								</li>
							</ul>
						</div>
						<div class="knbContent" data-scroll-reveal="enter bottom and move 50px over 1.0s">
							<p v-for="(item,index) in produce2.p" :class="{noIndent:1==index}">{{item}}</p>
						</div>
						<div class="knbImgBox">
							<div v-for="(item,index) in produce2.imgList">
								<img :src="item.img" :data-scroll-reveal="item.move" />
							</div>
						</div>
					</div>
					<div class="btnBox" data-scroll-reveal="enter bottom and move 50px over 1.0s" >
						<div>
							<button @click="knowMore(2)">了解更多</button>
						</div>
					</div>
				</div>
			</div>
			<!--板材解读-->
			<div class="bottom6">
				<div class="bigTitle">
					<div class="btTop" data-scroll-reveal="enter top and move 50px over 1.0s">
						<span>板材解读</span>
					</div>
					<div class="btBottom" data-scroll-reveal="enter top and move 50px over 1.0s">
						<p>PLATE INTERPRETATION</p>
					</div>
					<div class="greenTitle" data-scroll-reveal="enter bottom and move 50px over 1.0s">
						<p>自然进化论 ，回归原生态</p>
					</div>
				</div>
				<div class="bottom61" data-scroll-reveal="enter top and move 50px over 1.0s">
					<img src="img/bottom20.png"/>
				</div>
				<div class="btnBox" data-scroll-reveal="enter bottom and move 50px over 1.0s"  style="display: none">
					<div>
						<button>了解更多</button>
					</div>
					
				</div>
			</div>
			<!--体验巴迪师-->
			<div class="bottom5">
				<div class="bigTitle">
					<div class="btTop" data-scroll-reveal="enter top and move 50px over 1.0s">
						<span>体验巴迪斯  </span>
					</div>
					<div class="btBottom" data-scroll-reveal="enter top and move 50px over 1.0s">
						<p>EXPERIENCE BARDISS</p>
					</div>
					<div class="greenTitle" data-scroll-reveal="enter bottom and move 50px over 1.0s">
						<p>十年专业服务，赢得千万家选择</p>
					</div>
				</div>
				<div class="superText bodyBox" data-scroll-reveal="enter top and move 50px over 1.0s">
					<p>{{enjoyText}}</p>
				</div>
				<div class="bottom51Box">
					<div class="bottom51" v-for="(item,index) in enjoy">
						<div class="bottom511" :data-scroll-reveal='item.move'>
							<img :src="item.src" />
						</div>
						<div class="bottom512" :data-scroll-reveal='item.move1'>
							<p>{{item.title}}</p>
							<p>&nbsp;</p>
							<p>{{item.p1}}</p>
							<p>{{item.p2}}</p>
						</div>
					</div>
				</div>
			</div>
			<!--尊贵定制-->
			<div class="bottom4">
				<div class="bigTitle">
					<div class="btTop" data-scroll-reveal="enter top and move 50px over 1.0s">
						<span>尊贵定制 </span>
					</div>
					<div class="btBottom" data-scroll-reveal="enter top and move 50px over 1.0s">
						<p>PREMIUM CUSTOM</p>
					</div>
					<div class="greenTitle" data-scroll-reveal="enter bottom and move 50px over 1.0s">
						<p>专业优质定制，健康装修首选</p>
					</div>
				</div>
				<div class="superText bodyBox" data-scroll-reveal="enter top and move 50px over 1.0s">
					<p>{{superText}}</p>
				</div>
				<div class="bottom41">
					<div class="bottom422" v-for="(item,index) in superOrder" :data-scroll-reveal='item.move'>
						<div class="bottom2Left">
							<img :src="item.src" />
						</div>
						<div class="bottom2Right">
							<p class="bottom4Title">{{item.title}}</p>
							<p>{{item.content}}</p>
						</div>
					</div>
				</div>
			</div>
			<!--品质保证-->
			<div class="bottom3">
				<div class="bigTitle">
					<div class="btTop" data-scroll-reveal="enter top and move 50px over 1.0s">
						<span>品质保证</span>
					</div>
					<div class="btBottom" data-scroll-reveal="enter top and move 50px over 1.0s">
						<p>QUALITY ASURANCE</p>
					</div>
					<div class="greenTitle" data-scroll-reveal="enter bottom and move 50px over 1.0s">
						<p>品质传承，匠心筑造质感生活</p>
					</div>
				</div>
				<div class="bottom31" data-scroll-reveal="enter top and move 50px over 1.0s">
					<img src="img/bottom8.png" />
				</div>
			</div>
			<!--关于巴迪师-->
			<div class="bottom2">
				<div class="bigTitle">
					<div class="btTop" data-scroll-reveal="enter top and move 50px over 1.0s">
						<span>关于巴迪斯</span>
					</div>
					<div class="btBottom" data-scroll-reveal="enter top and move 50px over 1.0s">
						<p>ABOUT BARDISS</p>
					</div>
					<div class="greenTitle" data-scroll-reveal="enter bottom and move 50px over 1.0s">
						<p>幸福缔造者，千万家居必备好选择</p>
					</div>
				</div>
				<div class="bottom21 ">
					<div class="bottom211" v-for="(item,index) in about" >
						<div class="bottom21Title bodyBox" :data-scroll-reveal="item.move">
							<p>{{item.title}}</p>
						</div>
						<div class="bottom21Content bodyBox" :data-scroll-reveal="item.move">
							<p>{{item.content}}</p>
						</div>
						<div class="bottom21Img">
							<div v-for="(item,index) in item.imgList"><img :src="item"/> </div>
						</div>
					</div>
				</div>
			</div>
			<!--加盟巴迪师-->
			<div class="bottom1">
				<div class="bottom12 bodyBox">
					<ul>
						<li>
							<div class="bigTitle">
								<div class="btTop" data-scroll-reveal="enter top and move 50px over 1.0s">
									<span>加盟巴迪斯</span>
								</div>
								<div class="btBottom" data-scroll-reveal="enter top and move 50px over 1.0s">
									<p>INTERPRETATION BARDISS</p>
								</div>
								<div  class="greenTitle" data-scroll-reveal="enter bottom and move 50px over 1.0s">
									<p>强者携手同行</p>
								</div>
							</div>
						</li>
						<li>
							<div class="inputBox">
								<input placeholder="姓名" type="text" v-model="people.name"/>
							</div>
						</li>
						<li>
							<div class="inputBox">
								<input placeholder="联系" type="number" v-model="people.phone"/>
							</div>
						</li>
						<li>
							<div class="inputBox">
								<input placeholder="地区" id="city" v-model="people.area"/>
							</div>
						</li>
						<li>
							<div class="submit">
								<button @click="sbt">提交</button>
							</div>
						</li>
						<li>
							<div class="message" data-scroll-reveal="enter top and move 50px over 1.0s">
								<p class="msgTitle">体验地址</p>
								<p>{{address}}</p>
							</div>
							<div class="message" data-scroll-reveal="enter bottom and move 50px over 1.0s">
								<p class="msgTitle">咨询电话</p>
								<a :href="'tel:'+phone">{{phone}}</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="bottom11">
					<img src="img/bottom1.png" />
				</div>
			</div>
			<div class="popWin" :style="{transform:'matrix(1, 0, 0, 1, 0, '+windowH1+')'}">
				<div class="swiper-container swiper-container-nei1">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="(item,index) in nei1">
							<div class="produceImg"   >
								<img :src="item.src" />
							</div>
							<div class="produceTitle ani" swiper-animate-effect="fadeInDown">
								<p>{{item.title}}</p>
							</div>
							<div class="propBox ani" swiper-animate-effect="fadeInUp">
								<p v-for="(its,i) in item.content">{{its}}</p>
							</div>
							<div class="proBar ani" swiper-animate-effect="rotateIn">
								<img :src="item.bar" />
							</div>
							<div class="logo ani" swiper-animate-effect="fadeInUp">
								<img src="img/logo.png"/>
							</div>
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
				<button class="closeBtn"  @click="closePop(1)"></button>
			</div>
			<div class="popWin" :style="{transform:'matrix(1, 0, 0, 1, 0, '+windowH2+')'}">
				<div class="swiper-container swiper-container-nei2">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="(item,index) in nei2">
							<div class="produceImg"   >
								<img :src="item.src" />
							</div>
							<div class="produceTitle ani" swiper-animate-effect="fadeInDown">
								<p>{{item.title}}</p>
							</div>
							<div class="propBox ani" swiper-animate-effect="fadeInUp">
								<p v-for="(its,i) in item.content">{{its}}</p>
							</div>
							<div class="proBar ani" swiper-animate-effect="rotateIn">
								<img :src="item.bar" />
							</div>
							<div class="logo ani" swiper-animate-effect="fadeInUp">
								<img src="img/logo.png"/>
							</div>
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
				<button class="closeBtn"  @click="closePop(2)"></button>
			</div>
		</div>
		<script type="text/javascript" src="js/ydui.citys.js" ></script>
		<script type="text/javascript" src="js/ydui.js" ></script>
		<script>
			$(function(){
				$('.delete1').prevAll().remove();
				$('.delete2').nextAll().remove();
				$('#city').on('click',function(){
					$(this).blur();
				});
				//选择省市区
				!function () {
			        var $target = $('#city');
			
			        $target.citySelect();
			
			        $target.on('click', function (event) {
			            event.stopPropagation();
			            $target.citySelect('open');
			        });
			
			        $target.on('done.ydui.cityselect', function (ret) {
			            $(this).val(ret.provance + ' ' + ret.city + ' ' + ret.area);
			            app.people.area = ret.provance + ' ' + ret.city + ' ' + ret.area;
			        });
			    }();

                var swiper = new Swiper('.swiper-container-nei1', {
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    direction: 'vertical',
                    onInit: function(swiper){ //Swiper2.x的初始化是onFirstInit
                        swiperAnimateCache(swiper); //隐藏动画元素
                        swiperAnimate(swiper); //初始化完成开始动画
                    },
                    onSlideChangeEnd: function(swiper){
                        swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
                    }
                });
                var swiper = new Swiper('.swiper-container-nei2', {
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    direction: 'vertical',
                    onInit: function(swiper){ //Swiper2.x的初始化是onFirstInit
                        swiperAnimateCache(swiper); //隐藏动画元素
                        swiperAnimate(swiper); //初始化完成开始动画
                    },
                    onSlideChangeEnd: function(swiper){
                        swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
                    }
                });

			});
			var app = new Vue({
	   			el:'#app',
		   		data:{
	   			    banners:['img/index1.png','img/index2.png','img/index3.png'],
                    enjoyPeople:[
                        {
                        src:'img/middle1.png',
                        title:'老人/孝心',
                        p1:'巴迪斯负离子生态吊顶',
                        p2:'让你的孝心更放心',
                        move:'enter left and move 50px over 1.0s',
                        move1:'enter right and move 50px over 1.0s'
                    },{
                        src:'img/middle2.png',
                        title:'孩子/责任',
                        p1:'巴迪斯负离子生态吊顶',
                        p2:'自动释放负离子',
						p3:'帮你打跑细菌小怪兽',
                        move:'enter right and move 50px over 1.0s',
                        move1:'enter left and move 50px over 1.0s'
                    },{
                        src:'img/middle3.png',
                        title:'采购安装',
                        p1:'巴迪斯负离子生态吊顶',
                        p2:'多一缕新鲜空气',
                        p3:'保护小小的ta',
                        move:'enter left and move 50px over 1.0s',
                        move1:'enter right and move 50px over 1.0s'
                    },{
                        src:'img/middle4.png',
                        title:'朋友/健康',
                        p1:'巴迪斯负离子生态吊顶',
                        p2:'不需谨言慎行',
                        p3:'尽情森呼吸',
                        move:'enter right and move 50px over 1.0s',
                        move1:'enter left and move 50px over 1.0s'
                    }],
	   			    //产品系列
                    mySwiper1:null,
                    mySwiper2:null,
                    mySwiper3:null,
                    prolist:[],
                    mpStatus:false,
					mpIndex:0,
					MoreProduce:[
                        [
                            {
                                banner:'img/pro1.png',
                                img:'img/smallPro1.png',
                                title:'莉娜',
                                enTitle:'(Lina)',
                                text:['尺寸 327 x 327 x 22mm','材质 0.6mm铝镁合金','适用 全屋定制']
                            },
							{
                                banner:'img/pro2.png',
                                img:'img/smallPro2.png',
								title:'卡梵尼',
								enTitle:'(Kafanni)',
								text:['尺寸 490.5 x 490.5 x 22mm','材质 0.6mm铝镁合金','适用 全屋定制']
							},
                            {
                                banner:'img/pro3.png',
                                img:'img/smallPro3.png',
                                title:'铂缇',
                                enTitle:'(Boti)',
                                text:['尺寸 490.5 x 490.5 x 22mm','材质 0.6mm铝镁合金','适用 全屋定制']
                            },
                            {
                                banner:'img/pro4.png',
                                img:'img/smallPro4.png',
                                title:'铂兰',
                                enTitle:'(Bolan)',
                                text:['尺寸 327 x 327 x 22mm','材质 0.6mm铝镁合金','适用 全屋定制']
                            },
                            {
                                banner:'img/pro5.png',
                                img:'img/smallPro5.png',
                                title:'瑟琳',
                                enTitle:'(Selin)',
                                text:['尺寸 490.5 x 490.5 x 22mm','材质 0.6mm铝镁合金','适用 全屋定制']
                            },
                            {
                                banner:'img/pro6.png',
                                img:'img/smallPro6.png',
                                title:'欧妮娅',
                                enTitle:'(Ouniya)',
                                text:['尺寸 490.5 x 490.5 x 45mm','材质 0.6mm铝镁合金','适用 全屋定制']
                            },
                            {
                                banner:'img/pro7.png',
                                img:'img/smallPro7.png',
                                title:'菲拉',
                                enTitle:'(Fei La)',
                                text:['尺寸 327 x 654 x 22mm','材质 0.6mm铝镁合金','适用 全屋定制']
                            },
                            {
                                banner:'img/pro8.png',
                                img:'img/smallPro8.png',
                                title:'洛琳',
                                enTitle:'(Luolin)',
                                text:['尺寸 327 x 327 x 22mm','材质 0.6mm铝镁合金','适用 全屋定制']
                            },
                            {
                                banner:'img/pro9.png',
                                img:'img/smallPro9.png',
                                title:'蔓妮',
                                enTitle:'(Manni)',
                                text:['尺寸 327 x 327 x 22mm','材质 0.6mm铝镁合金','适用 全屋定制']
                            },
                            {
                                banner:'img/pro10.png',
                                img:'img/smallPro10.png',
                                title:'丹青',
                                enTitle:'(Danqing)',
                                text:['尺寸 327 x 327 x 22mm','材质 0.6mm铝镁合金','适用 全屋定制']
                            }
						],
						[
                            {
                                banner:'img/pro11.png',
                                img:'img/smallPro11.png',
                                title:'素娟',
                                enTitle:'(Sujuan)',
                                text:['尺寸 654 x 1635 x 42mm','材质 7mm铝蜂窝板','适用 客厅 餐厅 书房']
                            },
                            {
                                banner:'img/pro12.png',
                                img:'img/smallPro12.png',
                                title:'慕莎',
                                enTitle:'(Musha)',
                                text:['尺寸 490.5 x 981 x 42mm','材质 7mm铝蜂窝板','适用 客厅 餐厅 书房']
                            }
						]
					],
		   			//产品2
		   			produce1:{
		   				src:'img/bottom34.png',
		   				zhTitle:'铝基材系列',
		   				enTitle:'ALUMINUM  SUBSTRATE',
		   				chTitle:'打造品质时尚家居',
		   				smallTitle:'树立潮流方向',
		   				smallText:'引领品质生活',
		   				p:['亚光滚涂白技术呈现出细腻逼真的质感；将表面纹理层、负离子释放层、涂料层、铝铬化层、铝镁合金层、背涂保护层进行整合，打造一种新的绿色健康生态环保新材。',
		   				'多面独立设计，拼出时尚个性，树立潮流方向，引领品质健康生活.'],
		   				imgList:[
                            {
                                img: 'img/bottom29.png',
                                move: 'enter top and move 50px over 1.0s'
                            },
							{
                                img:'img/bottom30.png',
                                move: 'enter bottom and move 50px over 1.0s'
                        	},
							{
                                img:'img/bottom31.png',
								move:'enter top and move 50px over 1.0s'
                            },{
                                img:'img/bottom32.png',
                                move:'enter bottom and move 50px over 1.0s'
                            }]
		   			},
		   			produce2:{
		   				src:'img/bottom22.png',
		   				zhTitle:'铝蜂窝板系列',
		   				enTitle:'ALUMINUM  HONEYCOMB',
		   				chTitle:'源于自然  美在自然',
		   				smallTitle:'森之语',
		   				smallText:'归真自然',
		   				p:['运用表面装饰工艺（丝印、喷涂、覆','膜等），逼真大限度地呈现板材的细腻触感，展现板材本身的自然之美，同时设计线条简约、浑然质朴，满含着自然的意蕴，很好的表达了生活中的自然之美。'],
		   				imgList:[{
                            img: 'img/bottom23.png',
                            move: 'enter top and move 50px over 1.0s'
                        	},
                            {
                                img:'img/bottom24.png',
                                move: 'enter bottom and move 50px over 1.0s'
                            },
                            {
                                img:'img/bottom25.png',
                                move:'enter top and move 50px over 1.0s'
                            },{
                                img:'img/bottom26.png',
                                move:'enter bottom and move 50px over 1.0s'
                            }]
		   			},
		   			//体验
		   			enjoyText:'巴迪斯是业内首家真正意义上将生态概念赋予了集成吊顶产品的企业，秉承打造健康舒适新生活的主旨，在符合生态与健康要求的前提下，掌握核心科技，成功将负离子技术运用于集成吊顶，推出新型的负离子生态吊顶，创造健康自然环保的室内环境，还我们一个可以安心呼吸的空间。',
		   			enjoy:[
		   			    {
		   				src:'img/bottom15.png',
		   				title:'体验选配',
		   				p1:'近千个产品的选配',
		   				p2:'全天“星”级导购服务',
                        move:'enter left and move 50px over 1.0s',
                        move1:'enter right and move 50px over 1.0s'

		   			},{
		   				src:'img/bottom16.png',
		   				title:'设计咨询',
		   				p1:'专业顾问式导购咨询',
		   				p2:'全屋一体化专业设计',
                        move:'enter right and move 50px over 1.0s',
                        move1:'enter left and move 50px over 1.0s'
		   			},{
		   				src:'img/bottom17.png',
		   				title:'采购安装',
		   				p1:'近千个产品的选配',
		   				p2:'全天“星”级导购服务',
                        move:'enter left and move 50px over 1.0s',
                        move1:'enter right and move 50px over 1.0s'
		   			},{
		   				src:'img/bottom18.png',
		   				title:'售后维护',
		   				p1:'4小时快速反应服务',
		   				p2:'1300+门店终身维护',
                        move:'enter right and move 50px over 1.0s',
                        move1:'enter left and move 50px over 1.0s'
		   			}],
		   			//定制
		   			superText:'专属设计师私人订制，在线预约测量，家居色彩、风格搭配，更和谐。专为别墅大平层而尊贵定制，秉承皇室奢华大气的贵族气质.',
		   			superOrder:[
		   				{
		   					src:'img/bottom9.png',
		   					title:'在线预约',
		   					content:'获取设计师定制方案',
                            move:'enter left and move 50px over 1.0s'
		   				},
		   				{
		   					src:'img/bottom10.png',
		   					title:'免费报价',
		   					content:'品质至上的报价体系',
                            move:'enter right and move 50px over 1.0s'
		   				},
		   				{
		   					src:'img/bottom11.png',
		   					title:'免费测量',
		   					content:'贴身上门测量',
                            move:'enter left and move 50px over 1.0s'
		   				},
		   				{
		   					src:'img/bottom12.png',
		   					title:'免费安装',
		   					content:'确保每一安装安全可靠',
                            move:'enter right and move 50px over 1.0s'
		   				},
		   				{
		   					src:'img/bottom13.png',
		   					title:'免费设计',
		   					content:'提供全屋整装设计方案',
                            move:'enter left and move 50px over 1.0s'
		   				},
		   				{
		   					src:'img/bottom14.png',
		   					title:'终身维护',
		   					content:'专业为您的使用保驾护航',
                            move:'enter right and move 50px over 1.0s',
		   				}
		   			],
		   			//关于
		   			about:[
		   				{
		   					title:'企业一站式',
		   					content:'巴迪斯是一家汇聚家装天花、集成电器、工程天花、异形天花及铝幕墙的专业性生产与营销服务于一体，同时运作国内与国际市场的综合型实力企业。',
		   					imgList:[],
                            move:'enter left and move 50px over 1.0s',
		   				},
		   				{
		   					title:'核心优势',
		   					content:'汇聚业界顶尖的研发团队，配置国内最专业的设备，每款产品都经过23道缜密生产工序、9项严密品质监控，确保每一细节都能体现出匠心精神和一丝不苟的追求.',
		   					imgList:['img/bottom5.png','img/bottom6.png','img/bottom7.png'],
                            move:'enter right and move 50px over 1.0s',
		   				},
		   				{
		   					title:'全国1300+体验馆',
		   					content:'全国1300多家连锁体验馆里，体验产品的多样化，近千个产品的选配服务，专业的设计服务，24小时“五心”级导购服务,感动无处不在。',
		   					imgList:[],
                            move:'enter left and move 50px over 1.0s',
		   				},
		   				{
		   					title:'量屋定制健康系统',
		   					content:'巴迪斯公司融合客厅、餐厅、卧室、厨房、卫生间、阳台、玄关和过道于一体，以全居设计风格，满足消费者对不同空间的使用需求，真正为您提供全居解决方案。',
		   					imgList:[],
                            move:'enter right and move 50px over 1.0s',
		   				}
		   			],
		   			address:'广东省佛山市南海区里水得胜区军民路一环东1号',
		   			phone:'400-8607-757',
		   			status:0,
		   			pop:false,
                    nei1:[
                        {
                            title:'如何让板材更具美感与实用性？',
                            src:'img/nei15.png',
                            content:['巴迪斯运用了最新的独立设计模具，',
                                    '焕发轻奢系列的板材独特性。',
                                    '如置身轻奢之境，解读现代轻奢生活新理念。',
                                    '并且采用了亚光滚涂白技术，并辅以airGUARD空气治理技术，',
                                    '使板材更具实用性与美感。'],
                            bar:'img/bar15.png'
                        },
                        {
                            title:'环境权威保护者？',
                            src:'img/nei14.png',
                            content:['airGUARD空气治理技术，使板材持续增发负氧离子，',
                                '起到杀菌，消除甲醛、TVOC、苯、氨，',
                                '净化空气以及降解烟雾PM2.5的作用，',
                                '不拘泥于以往的功能特性，被赋予了灵魂的设计，',
                                '绽放着艺术之美之余，板材更具原生态。'],
                            bar:'img/bar14.png'
                        },
                        {
                            title:'适用性MAX',
                            src:'img/nei13.png',
                            content:['经过23道缜密生产工序和进口的环保涂料，',
                                '采撷天然矿石粉精华，添加活性炭等绿色辅材，',
                                '使板材表面纹理细腻、光泽度、舒适度以及环保性能都大大提升。',
                                '除客厅、卧室外，同样是适用于厨房、卫浴，',
                                '绝大部分板材都适用于全屋整装。'],
                            bar:'img/bar13.png'
                        },
                        {
                            title:'更多的组合',
                            src:'img/nei12.png',
                            content:['为还原板材本身的天然原生态，',
                                '巴迪斯经过汇聚业内顶尖研发团队，',
                                '通过对消费者喜好以及适用性的调查研究，',
                                '在空间展示以及装修设计上，拥有上百种的全屋整装方案，',
                                '搭配出独一无二的空间格调。'],
                            bar:'img/bar12.png'
                        },
						{
                            title:'打造品质时尚家居',
                            src:'img/nei11.png',
                            content:['以简洁、自然的色彩为主基调，',
                                '用时尚、精致的线条作为点缀，',
                                '凸显简约、舒适、小资格调的美好追求，',
                                '是打造品质时尚家居的不二选择。'],
                            bar:'img/bar11.png'
                        }
                    ],
                    nei2:[
                        {
                            title:'如何让纹理更逼真？',
                            src:'img/nei24.png',
                            content:['采用立体浮雕与表面装饰工艺（丝印、喷涂、覆膜等），',
                                '清晰显现板材独一无二的纹理，',
                                '随机排布的纹理、凹凸有致浮雕触感，',
                                '营造出简练不受束缚的空间气息，',
                                '带来宁静舒适、健康的家居体验。'],
                            bar:'img/bar24.png'
                        },
                        {
                            title:'强大的airGUARD空气治理技术',
                            src:'img/nei23.png',
                            content:['得益于airGUARD空气治理技术，',
                                '板材具有了持续增发负氧离子功能，',
                                '能起到杀菌，消除甲醛、TVOC、苯、氨，净化空气',
                                '以及降解烟雾PM2.5的作用，',
                                '以核心科技，打造健康舒适新生活。'],
                            bar:'img/bar23.png'
                        },
                        {
                            title:'为每一寸空间添新绿',
                            src:'img/nei22.png',
                            content:['采撷天然矿石粉精华，添加活性炭等绿色辅材，',
                                '经原料预混、恒压、高温等工序、，',
                                '高精机械化流水线生产，匠心制作而成，',
                                '是纯天然的绿色健康生态环保新材,',
                                '人与自然和谐共融，友好共处。'],
                            bar:'img/bar22.png'
                        },
                        {
                            title:'源于自然，创造不凡',
                            src:'img/nei21.png',
                            content:['负离子生态吊顶板材集实用与美观于一体，',
                                '采用纳米技术加工而成的多层复合矿粉基础功能板，',
                                '环保的天然基材全面提升了家装板材的优异性能，',
                                '雕塑性的精致造型有力的展现了',
								'表面装饰材料的美学优势。'],
                            bar:'img/bar21.png'
                        }
                    ],
                    windowH1:0,
                    windowH2:0,
                    people:{
	   			        name:'',
						phone:'',
                        area:'',
						token:'12138'
					}
		   		},
		   		methods:{
		   			getAward:function(){
		   				this.pop = true;
		   			},
                    pjTwo:function(){
		   			    var _this = this;
                        _this.mpStatus = true;
                        _this.mpIndex = 1;
                        _this.prolist = _this.MoreProduce[1];
                        if(!_this.mySwiper2)
						{
                            setTimeout(function () {
                                _this.mySwiper2 = new Swiper('.swiper-container-produce2',{
                                    loop:true,
                                    autoplayDisableOnInteraction : false,
                                    autoplay:5000,
                                    prevButton:'.swiper-button-prev2',
                                    nextButton:'.swiper-button-next2',
                                })
                            },200);
						}

                    },
                    pjOne:function(){
                        var _this = this;
                        _this.mpStatus = false;
                        _this.mpIndex = 0;
                        _this.prolist = _this.MoreProduce[0];
                    },
                    knowMore:function (i) {
                        var _this = this;
		   			    if(i == 1)
						{
                            _this.windowH1 = -$(window).height();
						}else{
                            _this.windowH2 = -$(window).height();
						}


                    },
                    closePop:function (i) {
						var _this = this;
						if(i==1)
						{
                            _this.windowH1 = 0;
						}else{
                            _this.windowH2 = 0;
						}

                    },
					sbt:function () {
		   			    var data = this.people;
						$.post('http://bardiss.hengdikeji.com/index.php/special/index/contact',data,function (data) {
							if(data.status == 1)
							{
                                popw('温馨提示',data.msg,1);
							}else{
                                popw('温馨提示',data.msg,1);
							}
                        })
                    }
		   		},
		   		mounted:function(){
                    var _this = this;
                    _this.mySwiper1 = new Swiper('.swiper-container-produce1',{
                        loop:true,
                        autoplayDisableOnInteraction : false,
                        autoplay:5000,
                        prevButton:'.swiper-button-prev1',
                        nextButton:'.swiper-button-next1',
                    });
                    $('.index').height($(window).height());
                    _this.mySwiper3 = new Swiper('.swiper-container-index',{
                        loop:true,
                        prevButton:'.swiper-button-prev3',
                        nextButton:'.swiper-button-next3',
                        pagination : '.swiper-pagination',
                        paginationClickable :true,
                        autoplayDisableOnInteraction : false,
						autoplay:5000
                    });
                    //开启滑动动画
                    if(!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
                        (function() {
                            window.scrollReveal = new scrollReveal({
                                reset: true
                            });
                        })();
                    };



		   		},
				upDated:function () {

                }
		   	});
		</script>
		<div class="delete2" hidden="hidden"></div>
	</body>
</html>
